<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.antons.rsatest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.lab6.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lab6.GamesList"
            android:label="@string/title_activity_games_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.lab6.inRow"
            android:label=""
            />
        <activity android:name="com.example.lab6.TicTacToe"
            android:label=""
            />
        <service
            android:name="com.example.lab6.HttpService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>